.imgbox {
    text-align: center;
    width: 120px;
    border: 1px solid gray;
    margin: 4px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnbox {
  text-align: center;
  width: 120px;
  border: 1px solid gray;
  margin: 4px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#imgbox1 {
  display: none;
}
#imgbox2 {
  display: none;
}
#imgbox3 {
  display: none;
}
#imgbox4 {
  display: none;
}